<!DOCTYPE html>
<html>
	<head>
		<script src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/JS/Menu.js"></script>
		<link rel="stylesheet" href="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/STYLESHEET/menu.css">
	</head>
<body>
<div id="RightSideNav" class="sidenav">
	<img src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/IMG/header_menu.jpg" class="header">
		<a href="javascript:void(0)" class="Back" onclick="BackButton()">Back</a></br>
     <img src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/IMG/announcements.png" class="announcement-image">
  	<a href="#">Announcements</a>
      <img src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/IMG/eval.png" class="evaluation-image">
  		<a href="#">Evaluations</a>
    <img src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/IMG/grad.png" class="graduate-image">
  		<a href="#">Graduate Tracer</a>
  		
  		<div class="dropdown">
    <img src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/IMG/about.png" class="about-image">
  		<a href="#">About</a>
  			<div class="dropdown-content">
  				<a href="#">Facilities</a>
  				<a href="about.html">Mission and Vision</a>
  			</div>
  		</div>

  <img src="/home/michellelunoza/Documents/BatStateU-Lipa-COM-SCI/IMG/key.png" class="key">
  <p1> <strong>User Login</strong></p1> </img>
 	
 	<div id="textboxes"> 
  		<form action="#">
   		<input type="text" id="UserName" name="UserName" placeholder="Username"></form>
   	
   		<form action="#">
   		<input type="text" id="Password" name="Password" placeholder="Password"></form>
	
		<div id="LoginButton">
   			<button class="button"><strong>Login</strong></button>
		</div>
	</div>
</div>

<div id="main">
  <span style= "font-size:25px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
</body>
</html>







