/** menu design */

/* end of menu design*/

/*about page design*/

.backgroundheader{
	/*do not delete*/
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  width: 100%;
}

.CICS{
   position: absolute;
   top: 20px;
   left: 85px;
  }

.cicslogo{
  width: 17%;
  height: 22%;
  max-width: 100%;
  max-height: 100%
}

.firsttext{
   position: absolute;
   top: 23px;
   width: 100%;
   left: -160px;
}

.ftext{
  font-family: "Copperplate Gothic Light Regular";
  color: #182d3d;
  text-align: center;
}

h2{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
} 

h3{
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 0; 
}

.secondtext{
   position: absolute;
   top: 35px;
   width: 100%;
   right: 360px;
}

.stext{
  font-family: "Copperplate Gothic Light Regular";
  color: #182d3d;
}

h4{
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right; 
}

.thirdtext{
   position: absolute;
   top: 58px;
   width: 100%;
   right: 80px;
}

.ttext{
  font-family: "Copperplate Gothic Light Regular";
  color: #182d3d;
}

h5{
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: right; 
}

body{
	font-family: "Century Gothic"; /* My font's not working, please check if it's working in yours*/
}

h1{
	font-size: 20px;
	color: #182c3d ;
}

p{
	font-size: 15px;
	text-indent: 25px;
}


.first-column{
	column-count: 1;
	padding: 150px 80px 0px 80px; /**top, right, bottom, left */
	text-align: justify;
	display: inline-block;
}

.second-column{
	column-count: 1;
	padding: 15px 80px 0px 80px; /**top, right, bottom, left */
	text-align: justify;
	display: inline-block;
}

.col-one{
	float: left;
	width: 45%;

}

.col-two{
	float: right;
	width: 45%;
}

.border{
	border-bottom: dashed #778899;
    border-width: 1px;
    padding: 0px 80px 230px 80px; /**top, right, bottom, left */
}

.border2{
	border-bottom: dashed #778899;
    border-width: 1px;
    padding: 0px 80px 0px 80px; /**top, right, bottom, left */
}

.UCV{
	padding: 3px 80px 0px 80px; /**top, right, bottom, left */
	text-align: justify;
	display: inline-block;
}

ul li{
	list-style: none;
	display: inline-block;
	color: #182c3d ;
	font-style: italic;
}

ul{
	text-align: center;
	border-top: 1px dashed #778899;
	border-bottom: 1px dashed #778899;
	word-spacing: 20px;
	font-size: 15px;
}


.PEO{
	padding: 1px 80px 10px 80px; /**top, right, bottom, left */
	text-align: justify;
	display: inline-block;
}

ol li{
	font-size: 15px;
	margin-left: 1em;
}

