.mainheader{
	/*do not delete*/
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    width: 100%;
}


body {
	background: url("/home/katleen/Documents/BatStateU-Lipa-COM-SCI/BG for Description.png"), url("/home/katleen/Documents/BatStateU-Lipa-COM-SCI/BG.png");
	background-position: top right, top left;
	background-repeat: no-repeat, no-repeat;
	background-size: 570px 1000px, cover;
}

.whole {
	column-count: 1;
	padding-top: 200px;
	display: inline-block;
}

.buttons {
	float: left;
}

ul li{
	list-style: none;
	margin-bottom: 10px;
	margin-left: -20px;
}

.para-content{
	font-size: 20px;
	text-align: justify;
	padding: 0px 60px 0px 430px; /**top, right, bottom, left */
}
