body {
    font-family: "Courier";
    transition: background-color .5s;
    background-image: url("/home/michellelunoza/Documents/Untitled Folder/image_home1.jpg");
    background-size:     cover;                     
    background-repeat:   no-repeat;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #191970;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 0px 0px 10px;
    text-decoration: none;
    font-size: 20.5px;
    color: white;
    display: inline-block;
    transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
    float: right;

}

.header {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

p1 {
    font-family: "Courier";
    padding: 0px 10px 10px 0px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: inline-block;
    transition: 0.3s;
}
.key {
    height: 16px;
    width: 20px;
    padding-left:45px;
    padding-top: 40px;

}
.announcement-image{
    height: 30px;
    width: 25px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 0px;
    margin-top: 10px;
}
.evaluation-image{
    height: 30px;
    width: 28px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 0px;

}
.graduate-image{
    height: 35px;
    width: 30px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 0px;

}
.about-image{
    height: 30px;
    width: 25px;
    padding-left: 15px;
    padding-right: 0px;
    padding-top: 15px;

}
input {
    border:2px solid #456879;
    border-radius:10px;
    height: 22px;
    width: 190px;
    text-align: center;
    padding: 7px;
}
#textboxes {
    padding-left: 25px;
    padding-right: 25px;
}
input .Password {
    padding-top: 25px;
}
.button {
    font-style: "Courier";
    padding: 10px 35px 10px 35px;
    font-size: 15px;
    border-radius:8px;

}
#LoginButton {
    text-align: center;
    margin: 10px
}
.button:hover {
    background-color: gray
}
